            <% if @requests.any? %>
                <h3 class="text-center"> <b> Hirings (<%= @requests.count %>) </b> </h3> 
                <ol class="microposts list-group">
                    <% @requests.each do |request| %>
                        <li class="jumbotron box">
                            <span class="content">  
                            <div class="row">
                                <h4> <b class="pull-right btn-bottom btn-left btn-top btn-right"> $<%= request.job.budget %>  </b> </h4>
                                <h4> <b><%= request.job.title.capitalize %></b> </h4> 
                            </div>
                            
                            <small class="dummy5"> <b>Description : </b> <%= request.job.description[0..245].capitalize ...%> </small>
                    
                            <% if current_user?(@user) %> 
                                <h6 class="text-center"><b> Connect to <%= request.job.user.name %> at : <%= request.job.user.email %> </b></h6> 
                                
                                <ul class="list-inline">
                                    <li class="pull-left">
                                        <%= link_to "View Job", job_path(request.job), class:"btn btn-primary"  %>
                                    </li>
                                    <li class="pull-right">
                                        <small class="pull-right temp dummy6"> <%= link_to "#{request.job.user.name}", user_path(request.job.user) %> hired you  <%= time_ago_in_words(request.updated_at) %> ago.</small>
                                    </li>
                                </ul>
                            <% else %>
                                <h6 class="text-center" > <b> <%= request.job.user.name %> hired <%= @user.name %>.</b> </h6>
                                <ul class="list-inline">
                                    <li class="pull-left">
                                        <%= link_to "View Job", job_path(request.job), class:"btn btn-primary"  %>
                                    </li>
                                    <li class="pull-right">
                                        <small class="pull-right temp dummy6"> Hired <%= time_ago_in_words(request.updated_at) %> ago.</small>
                                    </li>
                                </ul>
                            <% end %>
                            </span>         
                         </li>
                    <% end %>
                </ol>
                <%= will_paginate @requests %>
            <% else %>
                <% if current_user?(@user) %>
                    <h3 class="text-center"><b> No Hiring For You! </b></h3>
                <% else %>
                    <h3 class="text-center"><b> No Hirings for <%= @user.name %> </b></h3>
                <% end %>
            <% end %> 