<% provide(:title, @user.name) %>

<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        
        <section class="btn-right">
            <%= render 'show_description' %>
        </section>

        <section class="stats center "> 
            <%= render 'shared/stats' %> 
        </section>
        
        <section class="dummy2"> 
            <% if @user.role == 1 %>
                <% if current_user?(@user) %>
                    <%= render 'specializations/form' %>
                <% end %>
                <% if @user.specializations.any? %>
                    <p class="text-center"> <b> Specializations(<%= @user.specializations.count %>) </b> </p> 
                    <ol class="microposts list-group">
                        <%= render @specializations %>
                    </ol>
                    <%= will_paginate @specializations %>
                <% end %>
            <% end %>
        </section> 
        <br>
    </aside>
    <% if @user.role == 1%>
        <div class="col-md-8">    
            <%= render 'show_freelancer' %>
        </div>
    <% else %>
        <div class="col-md-8">
            <%= render 'show_client' %>
        </div>
    <% end %>
</div>