                                    <li class="inline-list-item">
                                        <%= form_with(model: request, local: true) do |f| %>
                                            <%= f.hidden_field :job_id, value: request.job.id %>
                                            <%= f.hidden_field :status, value: "Accepted" %>
                                            <%= f.hidden_field :user_id, value: request.user.id %>
                                            <%= f.hidden_field :method, value: request.method %>
                                            <%= f.submit "Accept", class: "btn btn-primary"%>
                                        <% end %> 
                                    </li>