            <% if @requests.any? %>
                <h3 class="text-center"><b> Invitations (<%= @requests.count %>) you made </b></h3> 
                <ol class="microposts list-group">

                    <% @requests.each do |request| %>
                        <li class="jumbotron box" id="micropost-<%= request.id %> >
                            <span class="content">
                               <div class="row">
                                    <h4> <b class="pull-right btn-bottom btn-left"> $<%= request.job.budget %>  </b> </h4>
                                    <h4> <b><%= request.job.title.capitalize %> </b> </h4> 
                                </div>
                                
                                <small class="dummy5"> <b>Description:</b> <%= request.job.description[0..300].capitalize ... %> </small>

                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <ul class="list-inline temp2">
                                    <li class="inline-list-item"> <%= link_to "View Job", job_path(request.job), class:"btn-left btn btn-primary" %> </li>
                                    <%if request.status == "Pending" && request.job.state != 0 %>
                                        <li class="inline-list-item"> <%= link_to "Delete", request_path(request), method: :delete, data: {confirm: "You sure?" }, class: "btn btn-danger" %></li>
                                    <% end %>
                                    <% if request.status == "Pending" && request.job.state == 0 %>
                                        <li class="inline-list-item"><small >Status :<b> Hiring is done for this job</b> </small>  </li>
                                    <% else %>
                                        <li class="inline-list-item"><small >Status :<b> <%= request.status %> </b> </small>  </li>
                                    <% end %>
                                </ul>

                                <% if request.status == "Pending" %>
                                    <small class="pull-right temp dummy6 btn-bottom btn-right">Invited to <%= link_to "#{request.user.name}", user_path(request.user) %> <%= time_ago_in_words(request.updated_at) %> ago.</small>
                                <% else %>
                                    <small class="pull-right temp dummy6 btn-bottom btn-right"><%= request.status %> by <%= link_to "#{request.user.name}", user_path(request.user) %> <%= time_ago_in_words(request.updated_at) %> ago.</small>
                                <% end %>
                            </span>         
                         </li>
                    <% end %>
                </ol>
                <%= will_paginate @requests %>
            <% else %>
                <h2 class="text-center"> <b> No invitations by you! </b> </h2>
                <h3 class="text-center"> <b> <%= link_to "Create a new invitation" , root_path, class:"btn btn-primary" %> </b> </h3>
            <% end %>